body {
    color: #666666;
    background: #c8cacc;
    width: 100%;
    height: 100%;
}

/* LAYOUT */
#body-container{ 
    margin-left: auto;
    background: #d6d8da url('../../imgs/main_background.gif') repeat-y;
    margin-right: auto;
    text-align: center;
    width: 960px;
}

.container_16 {
    margin-left: 0
}

#body-container * {
    text-align: left;
}

/*
.post, .bookmark, .quote { margin-bottom: 1.2em; }

#comments{
    margin-top: 1.8em;
    border-top: solid 1px #CCC;
    padding-top: .6em;
}

.post .teaser{
    border-bottom: solid 1.0em #333940;
    padding: .1em .1em .8em .1em;
    margin-bottom: .9em;
}

#right-rail p {
    margin-bottom: 1.8em;
}


.post_list .post, .post_list .quote, .post_list .bookmark {
    padding-bottom: 1.2em;
    border-bottom: 1px solid #ccc;
}
.post_detail .subscribe {
    margin-top: 1.2em;
}

#right-rail ul{ margin-left: 0em;}

.filter-title{
    margin-bottom: 1.2em;
    background-color: #ccc;
    padding: .3em;
}

.post-img {
    margin: 1.2em 0em 1.2em 1.2em;
    padding: .8em .8em 0em 1.6em;
    background-color: #e4e4e4;
    width: 564px;
    border-left: solid 1.0em #dedede;
}

.post-img p {
    margin-left: .2em;
    line-height: 1.4em;
}

.post-img {
  float: left;
  margin: 0.3em 0  0 -6.0em;
}

.video
{
    background-color: #000;
    text-align: center;
}

ul.recent-posts li, .post li
{
    list-style: disc;
    left-margin: 1.2em;
    list-style-position: inside;
    color: #333940;
}

.bookmark p{ margin-top: .8em;}
*/

/* FORMS */
/*
label
{
    display:block;
    font-weight: bold;
}

#form-error
{
    color: #c14040;
}

#form-error li
{
    list-style: disc;
}
*/


/* CODE */
pre
{
    overflow: auto;
    overflow: auto;
    z-index: 0;
    background-color: #fff;
    padding: .6em 0em .6em .6em;
    display: block;
    width: 99%;
    border: 0px solid #ccc;
}

pre.prettyprint {
    padding: .6em 0em .6em .6em;
    border: none;
}

/* HEADER/NAV */
#header
{
    width: 100%;
    height: 84px;
    margin: 0;
    padding: 0;
    background-color: #d6d8da;
}

#header * {
    margin: 0;
    padding: 0;
    top: 0px;
}

#logo { 
    float: left;
}

#logo h1 {
    text-indent: -9999px;
    background: transparent url('../../imgs/robmadole.png') scroll no-repeat 11px 31px;
    width: 303px;
    height: 84px;
    margin: 0;
    padding: 0;
}

#shortcut {
    width: 458px;
    height: 40px;
    padding: 22px 11px;
    float: right;
}

#shortcut ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#shortcut ul li {
    float: left;
    background-color: white;
    width: 60px;
    height: 40px;
    margin-right: 20px;
}

#shortcut ul li a {
    width: 60px;
    height: 40px;
    display: block;
    text-indent: -9999px;
}

#shortcut ul li.rss a {
    background: transparent url('../../imgs/shortcuts.png') scroll no-repeat 0px 0px;
}
#shortcut ul li.rss a:hover { background-position: 0px -41px; }

#shortcut ul li.bb a {
    background: transparent url('../../imgs/shortcuts.png') scroll no-repeat -80px 0px;
}
#shortcut ul li.bb a:hover { background-position: -80px -41px; }

#shortcut ul li.gh a {
    background: transparent url('../../imgs/shortcuts.png') scroll no-repeat -160px 0px;
}
#shortcut ul li.gh a:hover { background-position: -160px -41px; }

#shortcut .search-box {
    -webkit-box-shadow: 0px 0px 9px #999999;
    -moz-box-shadow: 0px 0px 9px #999999;
    margin-right: 0;
    float: left;
    width: 145px;
    height: 28px;
    padding-left: 70px;
    padding-top: 11px;
    background: #dce9e7 url('../../imgs/find.png') scroll no-repeat 0px -10px;
}

#shortcut .search-box input {
    width: 120px;
    line-height: 0;
    padding-left: 11px;
    background-color: white;
    border: 0;
}

.navbar-one {
    xmargin-top: 10px;
    float: left;
    xmargin-top: .6em;
}

#search {
    xmargin-top: 10px;
    xmargin-top: 1.6em;
    xmargin-bottom: 1.8em;
    float: right;
}

#nav {
    background-color: #323232;
    padding: 0;
}

#nav ul {
    margin: 0;
    padding: 0;
    height: 40px;
}

ul.navbar-one li
{
    line-height: 30px;
    float:left;
    list-style: none;
    margin-right: 20px;
}

ul.navbar-one li a {
}

.button{ margin-left: .6em;}

.subscribe li
{
  float:left;
  list-style: square;
  margin-left: 2.6em;
}

#right-rail p.aboutme {
    background: transparent url('../../imgs/avatar.png') scroll no-repeat 0px 0px;
    padding-left: 80px;
}

/* PAGINATION */
#pagination .older{ float: right; }

#pagination .newew{ float: left; }

/* FOOTER */
/*
#footer{ margin-top: 2.8em; }
*/

/*
#footer p{ margin-left: 1.6em; padding-bottom: 1.8em; }
*/

/* TYPE BASE */
/*
p, ul, ol, pre { font-size: 12px; margin: 0 0 12px; }

ul, ol { margin-left: 20px; }

ul ul { margin-bottom: 0; }

h1 { font-size: 30px; line-height: 40px; margin-top: 2px; }

h2, h3, h4, h5 { font-weight: bold; line-height: 40px; }

h2, h3, h4, h5 { font-weight: 400; }
h2 { font-size: 26px; letter-spacing: -0.025em; font-weight: 400; }

h3 { font-size: 18px; }

h4 { font-size: 14px; line-height: 20px; font-weight: bold; }

p, li { line-height: 20px;}
*/

/* TYPE SPECIFIC */
.post .date, .bookmark .date, .quote .date  { color: #fff; }

ul.navbar-one li
{
  text-decoration: none;
  color: #999ca0;
}

pre{ color: #333940; }

/* LINKS */
a:link, a:visited {
    color: #3c94bc;
    text-decoration: none;
    font-weight: bold;
}

a:hover { color: #3c94bc; }

h2 a:link, h2 a:visited{ font-weight: 400; color: #333940;}

h2 a:hover { font-weight: 400; color: #3c94bc;}

#nav ul {
    padding-left: 25px;
}

#nav ul li a
{
    text-decoration: none;
    text-shadow: 0px 2px 2px #000000;
    font-weight: 200;
    letter-spacing: 0.07em;
    font-size: 14px;
    color: #d3d3d3;
}

/* HELPERS */
.hide
{
  display: none;
  margin-left: -1000;
}
